.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-2);
    color: white;
    font-size: 2rem;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.25em;
    transition: background-color 250ms;

    .check svg {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        display: none;
    }

    &.checked svg {
        display: block;
    }

    &:hover {
        background-color: var(--primary-color-3);
    }
}