.password {
    background-color: var(--theme-2);
    color: var(--theme-text);
    padding: 1em;
    min-width: 15rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    word-wrap:break-word;
    cursor: pointer;
    transition: 
        scale 250ms,
        transform 250ms;

    &.animating {
        animation: fadeOutShadow 500ms forwards;
        scale: 0.95;
    }

    &:hover {
        transform: translateY(-0.2rem);
    }
} 

@media (max-width: 1050px) {
    .password {
        font-size: 2rem !important;
        width: 85vw;
    }
}

@keyframes fadeOutShadow {
    0% { box-shadow: 0 0 0 0 hsla(0, 0%, 0%, 0.12) }
    100% { box-shadow: 0 0 0 2.5rem hsla(0, 0%, 0%, 0) }
}