@use "./colors" as *;

.password {
    background-color: $color-accent;
    color: $color-text;
    padding: 0.5em 1em;
    min-width: 15rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 199rem;
    word-wrap: break-word;
    cursor: pointer;
    transition: 
        scale 250ms,
        transform 250ms;

    &.animating {
        animation: fadeOutShadow 500ms forwards;
        scale: 0.95;
    }

    &:hover {
        transform: translateY(-0.2rem);
    }
} 

@media (prefers-reduced-motion: reduce) {
    .password.animating {
        animation: none !important;
        scale: 1 !important;
    }
}

@media (max-width: 1050px) {
    .password {
        font-size: 2rem !important;
        width: 85vw;
    }
}

@keyframes fadeOutShadow {
    0% { 
        box-shadow: 0 0 0 0 $color-accent;
    }

    100% { 
        box-shadow: 0 0 0 2.5rem transparent;
    }
}